src/main/resources/wsdl/AuthApi.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://auth.hub.teamsystem.com/v1" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:myschema="http://schema.auth.hub.teamsystem.com/v1" name="AuthApi_v1"
                  targetNamespace="http://auth.hub.teamsystem.com/v1">
    <wsdl:documentation>
        <author>mondora</author>
        <creation-date>23/11/2015</creation-date>
        <last-revision-date>23/11/2015</last-revision-date>
        <version>1.0</version>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://schema.auth.hub.teamsystem.com/v1" schemaLocation="AuthApi.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="verifyDigestMsg">
        <wsdl:part element="myschema:verifyDigest_request" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="healthMsg">
    </wsdl:message>
    <wsdl:message name="verifyTokenResponseMsg">
        <wsdl:part element="myschema:verifyToken_response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNonceMsg">
        <wsdl:part element="myschema:getNonce_request" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="healthResponseMsg">
        <wsdl:part element="myschema:health_response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="verifyTokenMsg">
        <wsdl:part element="myschema:verifyToken_request" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="verifyDigestResponseMsg">
        <wsdl:part element="myschema:verifyDigest_response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="authenticationExceptionMsg">
        <wsdl:part element="myschema:authenticationException" name="authenticationException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNonceResponseMsg">
        <wsdl:part element="myschema:getNonce_response" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AuthApiPortType_v1">
        <wsdl:operation name="getNonce">
            <wsdl:input message="tns:getNonceMsg" name="getNonce">
            </wsdl:input>
            <wsdl:output message="tns:getNonceResponseMsg" name="getNonceResponse">
            </wsdl:output>
            <wsdl:fault message="tns:authenticationExceptionMsg" name="AuthenticationException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyDigest">
            <wsdl:input message="tns:verifyDigestMsg" name="verifyDigest">
            </wsdl:input>
            <wsdl:output message="tns:verifyDigestResponseMsg" name="verifyDigestResponse">
            </wsdl:output>
            <wsdl:fault message="tns:authenticationExceptionMsg" name="AuthenticationException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <wsdl:input message="tns:verifyTokenMsg" name="verifyToken">
            </wsdl:input>
            <wsdl:output message="tns:verifyTokenResponseMsg" name="verifyTokenResponse">
            </wsdl:output>
            <wsdl:fault message="tns:authenticationExceptionMsg" name="AuthenticationException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="health">
            <wsdl:input message="tns:healthMsg" name="health">
            </wsdl:input>
            <wsdl:output message="tns:healthResponseMsg" name="healthResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthApiBinding_v1" type="tns:AuthApiPortType_v1">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNonce">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="getNonce">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNonceResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyDigest">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="verifyDigest">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verifyDigestResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyToken">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="verifyToken">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="verifyTokenResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="health">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="health">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="healthResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthApi_v1">
        <wsdl:port binding="tns:AuthApiBinding_v1" name="AuthApiPortType_v1">
            <soap12:address location="https://soap-b2b-auth-service-test.agyo.io/AuthApi_v1/AuthApi.ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>