src/main/resources/wsdl/B2BWriteApiV7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://schema.write.b2b.hub.teamsystem.com/v7" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
            targetNamespace="http://schema.write.b2b.hub.teamsystem.com/v7"
            elementFormDefault="qualified">

    <xsd:complexType name="AuthenticationException">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ValidationException">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GenericError">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Common -->
    <xsd:complexType name="Auth">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:token"/>
            <xsd:element name="securityToken" type="xsd:token"/>
            <xsd:element name="appName" type="xsd:token"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Description">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Entry">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:token"/>
            <xsd:element name="value" type="xsd:token"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ExtraData">
        <xsd:sequence>
            <xsd:element name="entry" type="tns:Entry" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="HubIds">
        <xsd:sequence>
            <xsd:element name="hubId" type="tns:Id" minOccurs="1" maxOccurs="10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Id">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdExt">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="255"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="StatusName">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- Write -->
    <!-- Accept Files -->
    <xsd:complexType name="Reason">
        <xsd:sequence>
            <xsd:element name="hubId" type="tns:Id"/>
            <xsd:element name="description" type="tns:Description" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Reasons">
        <xsd:sequence>
            <xsd:element name="reason" type="tns:Reason" minOccurs="1" maxOccurs="10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AcceptFiles">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="reasons" type="tns:Reasons"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AcceptFilesResponse">
        <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Confirm downlaod -->
    <xsd:complexType name="ConfirmDownloads">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="hubIds" type="tns:HubIds"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConfirmDownloadsResponse">
        <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--Reject File -->
    <xsd:complexType name="RejectFiles">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="reasons" type="tns:Reasons"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RejectFilesResponse">
        <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Share File -->
    <xsd:complexType name="ShareFile">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="hubId" type="tns:Id"/>
            <xsd:element name="availableToId" type="tns:Id"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ShareFileResponse">
        <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Send Action -->
    <xsd:complexType name="SendAction">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="hubId" type="tns:Id"/>
            <xsd:element name="action" type="tns:StatusName"/>
            <xsd:element name="extraData" type="tns:ExtraData" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SendActionResponse">
        <xsd:sequence>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Upload Files -->
    <xsd:simpleType name="Annotation">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="0"/>
            <xsd:maxLength value="1000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Attachment">
        <xsd:sequence>
            <xsd:element name="name" type="tns:FileName"/>
            <xsd:element name="annotation" type="tns:Annotation" minOccurs="0"/>
            <xsd:element name="content" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Attachments">
        <xsd:sequence>
            <xsd:element name="attachment" type="tns:Attachment" minOccurs="0" maxOccurs="5"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Document">
        <xsd:sequence>
            <xsd:element name="transmitterId" type="tns:Id"/>
            <xsd:element name="senderId" type="tns:Id"/>
            <xsd:element name="recipientId" type="tns:IdExt"/>
            <xsd:element name="identifier" type="tns:Identifier"/>
            <xsd:element name="metadata" type="tns:Metadata"/>
            <xsd:element name="flow" type="tns:Flow"/>
            <xsd:element name="status" type="tns:Status"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Documents">
        <xsd:sequence>
            <xsd:element name="document" type="tns:Document" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DocType">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="10"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ExtStatus">
        <xsd:sequence>
            <xsd:element name="timestamp" type="tns:Timestamp" minOccurs="0"/>
            <xsd:element name="id" type="tns:Id" minOccurs="0"/>
            <xsd:element name="name" type="tns:StatusName" minOccurs="0"/>
            <xsd:element name="description" type="xsd:token" minOccurs="0"/>
            <xsd:element name="source" type="xsd:token" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="File">
        <xsd:sequence>
            <xsd:element name="name" type="tns:FileName"/>
            <xsd:element name="date" type="xsd:date" minOccurs="0"/>
            <xsd:element name="id" type="tns:Id" minOccurs="0"/>
            <xsd:element name="annotation" type="tns:Annotation" minOccurs="0"/>
            <xsd:element name="content" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream"/>
            <xsd:element name="attachments" type="tns:Attachments" minOccurs="0"/>
            <xsd:element name="hubId" type="tns:Id" minOccurs="0"/>
            <xsd:element name="category" type="tns:FileCategory" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="FileCategory">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="36"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="FileName">
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Files">
        <xsd:sequence>
            <xsd:element name="file" type="tns:File" minOccurs="1" maxOccurs="10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Flow">
        <xsd:sequence>
            <xsd:element name="type" type="tns:DocType"/>
            <xsd:element name="extraData" type="tns:ExtraData" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Hash">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:token"/>
            <xsd:element name="value" type="xsd:token"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Identifier">
        <xsd:sequence>
            <xsd:element name="hubId" type="tns:Id" minOccurs="0"/>
            <xsd:element name="batchId" type="tns:Id" minOccurs="0"/>
            <xsd:element name="packageId" type="tns:Id" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Metadata">
        <xsd:sequence>
            <xsd:element name="name" type="tns:FileName"/>
            <xsd:element name="size" type="xsd:long"/>
            <xsd:element name="hash" type="tns:Hash" minOccurs="0"/>
            <xsd:element name="date" type="xsd:date" minOccurs="0"/>
            <xsd:element name="id" type="tns:Id" minOccurs="0"/>
            <xsd:element name="annotation" type="tns:Annotation" minOccurs="0"/>
            <xsd:element name="category" type="tns:FileCategory" minOccurs="0"/>
            <xsd:element name="hubName" type="tns:FileName" minOccurs="0"/>
            <xsd:element name="format" type="xsd:token" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Status">
        <xsd:sequence>
            <xsd:element name="timestamp" type="tns:Timestamp"/>
            <xsd:element name="name" type="tns:StatusName"/>
            <xsd:element name="description" type="xsd:token" minOccurs="0"/>
            <xsd:element name="extStatus" type="tns:ExtStatus" minOccurs="0"/>
            <xsd:element name="active" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Timestamp">
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:complexType name="Upload">
        <xsd:sequence>
            <xsd:element name="senderId" type="tns:Id"/>
            <xsd:element name="recipientId" type="tns:IdExt"/>
            <xsd:element name="batchId" type="tns:Id" minOccurs="0"/>
            <xsd:element name="files" type="tns:Files"/>
            <xsd:element name="flow" type="tns:Flow"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Uploads">
        <xsd:sequence>
            <xsd:element name="upload" type="tns:Upload" minOccurs="1" maxOccurs="10"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UploadFiles">
        <xsd:sequence>
            <xsd:element name="auth" type="tns:Auth"/>
            <xsd:element name="transmitterId" type="tns:Id"/>
            <xsd:element name="packageId" type="tns:Id" minOccurs="0"/>
            <xsd:element name="uploads" type="tns:Uploads"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UploadFilesResponse">
        <xsd:sequence>
            <xsd:element name="documents" type="tns:Documents"/>
            <xsd:element name="version" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="health_response" type="xsd:string"/>
    <xsd:element name="acceptFiles_request" type="tns:AcceptFiles"/>
    <xsd:element name="acceptFiles_response" type="tns:AcceptFilesResponse"/>
    <xsd:element name="confirmDownloads_request" type="tns:ConfirmDownloads"/>
    <xsd:element name="confirmDownloads_response" type="tns:ConfirmDownloadsResponse"/>
    <xsd:element name="rejectFiles_request" type="tns:RejectFiles"/>
    <xsd:element name="rejectFiles_response" type="tns:RejectFilesResponse"/>
    <xsd:element name="shareFile_request" type="tns:ShareFile"/>
    <xsd:element name="shareFile_response" type="tns:ShareFileResponse"/>
    <xsd:element name="sendAction_request" type="tns:SendAction"/>
    <xsd:element name="sendAction_response" type="tns:SendActionResponse"/>
    <xsd:element name="uploadFiles_request" type="tns:UploadFiles"/>
    <xsd:element name="uploadFiles_response" type="tns:UploadFilesResponse"/>
    <xsd:element name="genericError" type="tns:GenericError"/>
    <xsd:element name="validationException" type="tns:ValidationException"/>
    <xsd:element name="authenticationException" type="tns:AuthenticationException"/>

</xsd:schema>