src/main/resources/wsdl/B2BWriteApiV7.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:myschema="http://schema.write.b2b.hub.teamsystem.com/v7"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://b2b.hub.teamsystem.com/v7"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  name="B2BWriteApi_v7"
                  targetNamespace="http://b2b.hub.teamsystem.com/v7">

    <wsdl:documentation>
        <author>mondora</author>
        <creation-date>31/05/2018</creation-date>
        <last-revision-date>05/06/2018</last-revision-date>
        <version>7.0</version>
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://schema.write.b2b.hub.teamsystem.com/v7" schemaLocation="B2BWriteApiV7.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!-- Fault -->
    <wsdl:message name="validationExceptionMsg">
        <wsdl:part name="validationException" element="myschema:validationException"/>
    </wsdl:message>
    <wsdl:message name="genericErrorMsg">
        <wsdl:part name="genericError" element="myschema:genericError"/>
    </wsdl:message>
    <wsdl:message name="authenticationExceptionMsg">
        <wsdl:part name="authenticationException" element="myschema:authenticationException"/>
    </wsdl:message>

    <wsdl:message name="healthMsg">
    </wsdl:message>
    <wsdl:message name="healthResponseMsg">
        <wsdl:part name="parameters" element="myschema:health_response"/>
    </wsdl:message>

    <wsdl:message name="acceptFilesMsg">
        <wsdl:part name="parameters" element="myschema:acceptFiles_request"/>
    </wsdl:message>
    <wsdl:message name="acceptFilesResponseMsg">
        <wsdl:part name="parameters" element="myschema:acceptFiles_response"/>
    </wsdl:message>

    <wsdl:message name="confirmDownloadsMsg">
        <wsdl:part name="parameters" element="myschema:confirmDownloads_request"/>
    </wsdl:message>
    <wsdl:message name="confirmDownloadsResponseMsg">
        <wsdl:part name="parameters" element="myschema:confirmDownloads_response"/>
    </wsdl:message>

    <wsdl:message name="rejectFilesMsg">
        <wsdl:part name="parameters" element="myschema:rejectFiles_request"/>
    </wsdl:message>
    <wsdl:message name="rejectFilesResponseMsg">
        <wsdl:part name="parameters" element="myschema:rejectFiles_response"/>
    </wsdl:message>

    <wsdl:message name="sendActionMsg">
        <wsdl:part name="parameters" element="myschema:sendAction_request"/>
    </wsdl:message>
    <wsdl:message name="sendActionResponseMsg">
        <wsdl:part name="parameters" element="myschema:sendAction_response"/>
    </wsdl:message>

    <wsdl:message name="shareFileMsg">
        <wsdl:part name="parameters" element="myschema:shareFile_request"/>
    </wsdl:message>
    <wsdl:message name="shareFileResponseMsg">
        <wsdl:part name="parameters" element="myschema:shareFile_response"/>
    </wsdl:message>

    <wsdl:message name="uploadFilesMsg">
        <wsdl:part name="parameters" element="myschema:uploadFiles_request"/>
    </wsdl:message>
    <wsdl:message name="uploadFilesResponseMsg">
        <wsdl:part name="parameters" element="myschema:uploadFiles_response"/>
    </wsdl:message>

    <wsdl:portType name="B2BWriteApiPortType_v7">
        <wsdl:operation name="acceptFiles">
            <wsdl:input name="acceptFiles" message="tns:acceptFilesMsg"/>
            <wsdl:output name="acceptFilesResponse" message="tns:acceptFilesResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="rejectFiles">
            <wsdl:input name="rejectFiles" message="tns:rejectFilesMsg"/>
            <wsdl:output name="rejectFilesResponse" message="tns:rejectFilesResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="confirmDownloads">
            <wsdl:input name="confirmDownloads" message="tns:confirmDownloadsMsg"/>
            <wsdl:output name="confirmDownloadsResponse" message="tns:confirmDownloadsResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="uploadFiles">
            <wsdl:input name="uploadFiles" message="tns:uploadFilesMsg"/>
            <wsdl:output name="uploadFilesResponse" message="tns:uploadFilesResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="health">
            <wsdl:input name="health" message="tns:healthMsg"/>
            <wsdl:output name="healthResponse" message="tns:healthResponseMsg"/>
        </wsdl:operation>
        <wsdl:operation name="sendAction">
            <wsdl:input name="sendAction" message="tns:sendActionMsg"/>
            <wsdl:output name="sendActionResponse" message="tns:sendActionResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
        <wsdl:operation name="shareFile">
            <wsdl:input name="shareFile" message="tns:shareFileMsg"/>
            <wsdl:output name="shareFileResponse" message="tns:shareFileResponseMsg"/>
            <wsdl:fault name="GenericError" message="tns:genericErrorMsg"/>
            <wsdl:fault name="ValidationException" message="tns:validationExceptionMsg"/>
            <wsdl:fault name="AuthenticationException" message="tns:authenticationExceptionMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="B2BWriteApiBinding_v7" type="tns:B2BWriteApiPortType_v7">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="acceptFiles">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="acceptFiles">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="acceptFilesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="rejectFiles">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="rejectFiles">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rejectFilesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmDownloads">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="confirmDownloads">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="confirmDownloadsResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="uploadFiles">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="uploadFiles">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadFilesResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="health">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="health">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="healthResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendAction">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="sendAction">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendActionResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="shareFile">
            <soap12:operation soapAction="" style="document"/>
            <wsdl:input name="shareFile">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="shareFileResponse">
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="GenericError">
                <soap12:fault name="GenericError" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ValidationException">
                <soap12:fault name="ValidationException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AuthenticationException">
                <soap12:fault name="AuthenticationException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="B2BWriteApi_v7">
        <wsdl:port name="B2BWriteApiPortType_v7" binding="tns:B2BWriteApiBinding_v7">
            <soap12:address location="http://localhost:9090/B2BWriteApi_v7/B2BWriteApi.ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>